body {
  font-family: Arial;
  background: #f2f4f7;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input {
  width: 90%;
  margin: 5px;
  padding: 8px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
}
